{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home/home.css') }}">
{% endblock %}
{% block body %}
<main>
    <section>
        <h1>BESOIN D'UN SITE INTERNET ?</h1>
        <p>Nos élèves formés au métier de développeur d'application multimédias réaliserons le site que vous rêviez.</p>
        <p>Nous avons les solutions pour un site dynamique adapté à vôtre projet : HTML, CSS, JS, PHP, Framework Symfony, Bootstrap...</p>
    </section>
</main>
{% endblock %}


